.Rproj.user
.Rhistory
.RData
.Ruserdata
.agent
United States April 2025 Shp Files.zip
us-260413.osm.pbf
Junk Information/
extra junk/
1 - Readings/old readings/
.cline_sync
*.gpkg
.waylog
.claudeignore
settings.local.json
*.zip
*.idx
*.csv
*.png
Golfing Thesis Directory.txt
CLAUDE.md
.claude
Gone Golfing.Rproj
.Rhistory
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl-SAVE-ERROR
*.gz
*.xml
*.bcf-SAVE-ERROR